<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="card">
        <h4 class="title-lv2">Welcome To MOYMGMT</h4>
        <fieldset>
            <legend>Username</legend>
            <input type="text" name="username" placeholder="Username" class="zone">
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            <input type="password" name="password" placeholder="Password" class="zone">
        </fieldset>
        <input type="submit" value="Login" class="btn-login">
    </div>
</body>
</html>