{% extends "base.html" %}

{% block title %}MOYMGMT - Tickets{% endblock %}

{% block body %}
    <style>
        .flip-card-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
            margin-left: 20px;
            margin-top: 10px;
        }
    </style>
    <div class="flip-card-container">
        {% for ticket in tickets %}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title"><a href="#">{{ ticket[1] }}</a></p>
                    <p>{{ ticket[4] }} TND</p>
                </div>
                <div class="flip-card-back">
                    <p class="title">{{ ticket[3] }} Items</p>
                    <p>{{ ticket[0] }}</p>
                    <a href="#" class="ticket-button">Update</i></a>
                    <a href="#" class="ticket-button">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
       

        <!-- Pagination controls -->
        <div class="pagination" style="bottom: 100%;color:red">
            {% if page > 1 %}
            <a href="{{ url_for('tickets', page=1, per_page=per_page) }}">First</a>
            <a href="{{ url_for('tickets', page=page-1, per_page=per_page) }}">Previous</a>
            {% endif %}

            <span>Page {{ page }} of {{ total_pages }}</span>

            {% if page < total_pages %}
            <a href="{{ url_for('tickets', page=page+1, per_page=per_page) }}">Next</a>
            <a href="{{ url_for('tickets', page=total_pages, per_page=per_page) }}">Last</a>
        {% endif %}
        </div>
    </div>       
{% endblock %}